body {
    font-family: Arial, sans-serif;
    background-color: #da9191;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: rgb(166, 111, 111);
    padding: 20px;
    border-radius: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}